@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
        // justify-content: center; 
    }

    .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        img {
            width: 99px;
            height: 99px;
            opacity: 1;
            border-radius: 50%;
        }

        h3 {
            font-family: "Roboto";
            font-weight: 500;
            font-style: Medium;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 0%;

        }

        .btns {
            display: flex;
            gap: 18px;

            button {
                border: none;
                outline: none;
            }

            .follow__btn {
                width: 128px;
                height: 40px;
                gap: 10px;
                opacity: 1;
                border-radius: 35px;
                padding: 8px;
                background-color: #1B5BF7;
                font-family: 'Roboto';
                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0%;
                color: white;
            }

            .unfollow__btn{
                width: 128px;
                height: 40px;
                gap: 10px;
                opacity: 1;
                border-radius: 35px;
                padding: 8px;
                background-color: #fff;
                font-family: 'Roboto';
                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0%;
                color: white;
                border: 2px solid #1B5BF7;
                color: #1B5BF7;
            }

            .save__btn {
                color: #1B5BF7;
                width: 40px;
                height: 40px;
                opacity: 1;
                border-radius: 8px;
                padding: 8px;
            }

            .unsave__btn{
                color: #fff;
                background-color: #1B5BF7;
                @extend .save__btn
            }
        }


    }

    .details__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (max-width: 768px) {
            align-items: center;
            width: 100%;
        }

        img {
            width: 869px;
            max-width: 100%;
            border-radius: 8px;
            max-height: 520px;
            object-fit: cover;
            background: #f1f5f9;
            @media (max-width: 768px){
                width: 100%;
            }
        }

        .date {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            color: #AEBEC9;
        }

        .title {
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 32px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #2D2D2D;
            max-width: 90%;

            @media (max-width: 500px) {
                font-size: 20px;
            }
        }

        .text {
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 18px;
            line-height: 140%;
            letter-spacing: 0%;
            max-width: 90%;

            @media (max-width: 500px) {
                font-size: 14px;
            }
        }
    }
}
